---
title: Prove your user's identity
weight: 5.6
last_reviewed_on: 2025-02-12
review_in: 6 months
---

# Prove your user's identity

You must have authenticated your users before you can prove their identity.

If you [requested identity proving][integrate.choose-level-of-confidence], when
you [retrieve user information with `/userinfo`][integrate.retrieve-user-info], you’ll receive a response containing
additional claims (user attributes). You may receive different claims, depending on how your user proved their identity.

Your service’s needs will determine how you process the other claims that GOV.UK One Login provides about your user.
You’ll probably need to match against information held by your service or organisations you work with.

Most claims are represented by JSON objects. The [core identity claim](#understand-your-user-s-core-identity-claim) is a
JSON web token (JWT) protected by an electronic signature for additional security.

You’ll receive a response from `/userinfo` that will look similar to this example:

```
HTTP/1.1 200 OK
Content-Type: application/json

  "sub": "urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=",
  "email": "test@example.com",
  "email_verified": true,
  "phone": "+441406946277",
  "phone_verified": true,
  "https://vocab.account.gov.uk/v1/coreIdentityJWT": <JWT>,
  "https://vocab.account.gov.uk/v1/address": [
    {
      "uprn": "10022812929",
      "subBuildingName": "FLAT 5",
      "buildingName": "WEST LEA",
      "buildingNumber": "16",
      "dependentStreetName": "KINGS PARK",
      "streetName": "HIGH STREET",
      "doubleDependentAddressLocality": "EREWASH",
      "dependentAddressLocality": "LONG EATON",
      "addressLocality": "GREAT MISSENDEN",
      "postalCode": "HP16 0AL",
      "addressCountry": "GB",
      "validFrom": "2022-01-01"
    },
    {
      "uprn": "10002345923",
      "buildingName": "SAWLEY MARINA",
      "streetName": "INGWORTH ROAD",
      "dependentAddressLocality": "LONG EATON",
      "addressLocality": "NOTTINGHAM",
      "postalCode": "BH12 1JY",
      "addressCountry": "GB",
      "validUntil": "2022-01-01"
    }
  ],
  "https://vocab.account.gov.uk/v1/drivingPermit": [
    {
      "expiryDate": "2023-01-18",
      "issueNumber": "5",
      "issuedBy": "DVLA",
      "personalNumber": "DOE99802085J99FG"
    }
  ],
  "https://vocab.account.gov.uk/v1/passport": [
    {
      "documentNumber": "1223456",
      "icaoIssuerCode": "GBR",
      "expiryDate": "2032-02-02"
    }
  ]
}
```
## Understand your user’s core identity claim
The `https://vocab.account.gov.uk/v1/coreIdentityJWT` property in the `/userinfo` response is the core identity claim,
which is a JWT representing core identity attributes.

The following are core identity attributes:

* your user's name
* your user’s date of birth
* the level of identity confidence GOV.UK One Login has reached

The core identity is valid for 30 minutes, starting when it is issued. Do not store the `coreIdentityJWT` in its raw encoded or decoded forms.

If your service persists the data inside the core identity, you should extract the name and date of birth and store those. 

<%= warning_text("If the <code>https://vocab.account.gov.uk/v1/coreIdentityJWT</code> property is not present, then GOV.UK One Login was not able to prove your user's identity.") %>

You’ll need a public key to validate this JWT. You can download a Decentralized Identifiers (DID) document containing the current JSON Web Key (JWK) public key – there’s further [guidance on validating the core identity claim JWT using a public key](/integrate-with-integration-environment/prove-users-identity/#validate-the-core-identity-claim-jwt-using-a-public-key).

The JWT contains the following claims:

```
{
  "sub": "urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=",
  "iss": "https://identity.integration.account.gov.uk/",
  "aud": "YOUR_CLIENT_ID",
  "nbf": 1541493724,
  "iat": 1541493724,
  "exp": 1573029723,
  "vot": "P2",
  "vtm": "https://oidc.integration.account.gov.uk/trustmark",
  "vc": {
    "type": [
      "VerifiableCredential",
      "VerifiableIdentityCredential"
    ],
    "credentialSubject": {
      "name": [
        {
          "validFrom": "2020-03-01",
          "nameParts": [
            {
              "value": "Alice",
              "type": "GivenName"
            },
            {
              "value": "Jane",
              "type": "GivenName"
            },
            {
              "value": "Laura",
              "type": "GivenName"
            },
            {
              "value": "Doe",
              "type": "FamilyName"
            }
          ]
        },
        {
          "validUntil": "2020-03-01",
          "nameParts": [
            {
              "value": "Alice",
              "type": "GivenName"
            },
            {
              "value": "Jane",
              "type": "GivenName"
            },
            {
              "value": "Laura",
              "type": "GivenName"
            },
            {
              "value": "O’Donnell",
              "type": "FamilyName"
            }
          ]
        }
      ],
      "birthDate": [
        {
          "value": "1970-01-01"
        }
      ]
    }
  }
}
```

The `vc` claim in the JWT is a [verifiable credential (VC)](https://www.w3.org/TR/vc-data-model/). Claims about your
user are contained in the `credentialSubject` JSON object.

### Validate the core identity claim JWT using a public key

To validate the core identity claim JWT, you must use a public key. GOV.UK One Login publishes the public keys in a [Decentralized Identifier (DID) document](https://www.w3.org/TR/did-core/). 

<%= warning_text('GOV.UK One Login regularly rotates its public keys. You must <a href="/integrate-with-integration-environment/prove-users-identity/#understand-the-core-identity-signing-key-rotations">read the guidance on understanding GOV.UK One Login’s key rotation</a> to make sure your application continues to work as expected.') %>

This is an example of a web DID document published by GOV.UK One Login:

```json
{
  "@context": [
    "https://www.w3.org/ns/did/v1",
    "https://w3id.org/security/jwk/v1"
  ],
  "id": "did:web:identity.account.gov.uk",
  "assertionMethod": [
    {
      "id": "did:web:identity.account.gov.uk#b7863b6926193d93b48808cbabcbc8a414d0080f81c8779c0a54491551a35816",
      "type": "JsonWebKey",
      "controller": "did:web:identity.account.gov.uk",
      "publicKeyJwk": {
        "kty": "EC",
        "crv": "P-256",
        "x": "QrP65yghuglwPkEl11oMaabr4WqAMjuvztBYb7T4Ipo",
        "y": "CSQNybYbCZLl-Xr1OA3pcxjC6qZrG7JPqwXgo-9fHLM"
      }
    }
  ]
}
```

#### Use the `kid` (key ID) to see which public key signed the JWT

When validating a JWT, the JWT header will include the `kid` (key ID). This will be either `did:web:identity.integration.account.gov.uk#{UNIQUE_KEY_IDENTIFIER}` for the integration environment, or `did:web:identity.account.gov.uk#{UNIQUE_KEY_IDENTIFIER}` for the production environment. 

GOV.UK One Login uses a simplified version of the DID resolution algorithm from the [did:web Method Specification](https://w3c-ccg.github.io/did-method-web/#read-resolve). Third-party libraries may have features which ‘resolves’ the DID – this means turning the `kid` into the URL for the DID document and then downloading the DID. However, you must not use a third-party library’s DID resolution. This could make your application vulnerable to trusting an invalid identity.

You should only trust the DID documents located at:

* integration – [https://identity.integration.account.gov.uk/.well-known/did.json](https://identity.integration.account.gov.uk/.well-known/did.json)
* production – [https://identity.account.gov.uk/.well-known/did.json](https://identity.account.gov.uk/.well-known/did.json)  

GOV.UK One Login will always publish the DID documents on the URLs above and will never change the publication URLs without notifying you. 

Follow the steps below to use the `kid` to determine which public key from the DID document was used to sign the JWT. This is important because GOV.UK One Login may have rotated its public keys and using the incorrect key will break your integration. 

1. Split the `kid` from the JWT header into two parts: the controller ID (before the `#`) and the unique key ID (after the `#`). For example, in the `kid` `did:web:identity.integration.account.gov.uk#c9f8da1c87525bb41653583c2d05274e85805ab7d0abc58376c7128129daa936`, the controller ID is `did:web:identity.integration.account.gov.uk` and the unique key ID is `c9f8da1c87525bb41653583c2d05274e85805ab7d0abc58376c7128129daa936`.
1. Download the DID document from the DID endpoint you need: 
  * Integration: [https://identity.integration.account.gov.uk/.well-known/did.json](https://identity.integration.account.gov.uk/.well-known/did.json) 
  * Production: [https://identity.account.gov.uk/.well-known/did.json](https://identity.account.gov.uk/.well-known/did.json). 
1. Make sure the controller ID matches the `id` in the DID document.
1. Find the object in `assertionMethods` which has an `id` field matching the `kid` from the JWT header. If there are multiple keys in the DID document, GOV.UK One Login is in the process of rotating its keys. If there’s a key without a matching `id`, do not trust the identity and contact GOV.UK One Login to report an incident.
1. Use the `publicKeyJwk` object of the key you want to use to verify the signature. 

#### Cache the DID document 

You should cache the returned DID document and re-use it instead of downloading the DID document for every signature you need to verify. The DID document will not change often and caching it reduces latency for your service.

The `Cache-Control` HTTP header field in the DID endpoint contains a suggested caching period. This caching period is how long GOV.UK One Login expects the DID document to remain valid. 

For example, a header with the value `Cache-Control: max-age=3600, private…` would mean you cache the DID document for the `max-age` of 1 hour (3600 seconds = 1 hour). `private` stops any other caches or proxies from caching the DID document.

Occasionally, you may not be able to refresh the cache from GOV.UK One Login’s URL, for example if there’s a temporary outage. If this happens, you should continue to trust the cached version until you’re able to refresh the cache.

For more details on the `Cache-Control` header, see [RFC 9111: HTTP Caching](https://www.rfc-editor.org/rfc/rfc9111#field.cache-control). 

#### Understand the core identity signing key rotations

GOV.UK One Login will rotate its keys for the: 

* integration environment - weekly from 29 October 2024 so you can test your integration
* production environment - every 6 months starting from 30 January 2025

GOV.UK One Login may need to rotate keys at short notice, for example if a key is compromised. New public keys will appear in the `assertionMethod` array of the DID document before any rotation.

Use the `Cache-Control` headers and [guidance on caching the DID document](/integrate-with-integration-environment/prove-users-identity/#cache-the-did-document) to regularly poll the DID endpoint to detect new versions and make sure you’re using the latest key.

Once GOV.UK One Login has removed the old public key from the DID document, it will no longer be valid. You should no longer trust verifiable credentials signed with that key.


### Validate your user’s identity credential

1. You must validate the JWT signature according to
   the [JSON Web Signature Specification](https://datatracker.ietf.org/doc/html/rfc7515). Check the JWT `alg` header
   is `ES256` and then use the value of the JWT `alg` header parameter to validate the JWT.
1. Check the `iss` claim is `https://identity.integration.account.gov.uk/`.
1. Check the `aud` claim matches your client ID you received when you [registered your service to use GOV.UK One Login][integrate.register-your-service].
1. Check the `sub` claim matches the `sub` claim you received
   in [the `id_token` from your token request](../authenticate-your-user/#understand-your-id-token).
1. Check the current time is before the time in the `exp` claim.

### Check your user’s level of authentication protection matches the requested level

You must look for the `vot` (Vector of Trust) claim in the ID token and make sure the level of protection matches or exceeds the level a user needs to access your service. The `vot` claim will only contain the credential trust level, not the level of confidence, even if you make an identity request.
Additionally, if you ask for medium confidence (`P2`) you must also request a protection level of `Cl.Cm`. This means logging in with two-factor authenticaion. If you do not do this, you'll receive the error: `invalid_request - Request vtr not valid`.


### Process your user’s identity credential

The identity credential contains the following claims as properties of `credentialSubject`.

| Property    | Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|-------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `name`      | A list showing the names proven by GOV.UK One Login. This list reflects name changes by using the `validFrom` and `validUntil` metadata properties. If `validUntil` is `null` or not present, that name is your user’s current name. If `validFrom` is `null` or not present, your user may have used that name from birth. <br><br> Each name is presented as an array in the `nameParts` property. Each part of the name is either a `GivenName` or a `FamilyName`, identified in its `type` property. The `value` property could be any text string. GOV.UK One Login cannot specify a maximum length or restrictions on what characters may appear. <br><br> `GivenName` or `FamilyName` can appear in any order within the list. The order of names may depend on either your user’s preferences or the order they appear on documents used to prove your user’s identity. |
| `birthDate` | A list of [ISO 8601 date][external.ISO-8601-date] strings. There may be multiple dates of birth, for example, if there’s evidence an incorrect date of birth was previously recorded for your user. The date of birth GOV.UK One Login has highest confidence in will be the first item in the list.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |

## Understand your user’s address claim

The `https://vocab.account.gov.uk/v1/address` claim contains all addresses your user has entered, including previous
addresses. GOV.UK One Login checks the address format and performs some checks, depending on the address's location and user's journey. 

GOV.UK One Login collects at least 3 months' worth of addresses.

GOV.UK One Login supports the following characters in the address claim: 

* digits: `0-9`
* letters: `A-Z` and `a-z`
* special characters: `'` (apostrophe), `.` (period), `,` (comma), `\` (backslash), `/` (forward slash), `*` (asterisk), and `-` (hyphen)
* space: ` `

Each JSON object in the list may contain any of the following properties:

| Property                         | Definition                                                                                                                                                                                                                                                                                                                    |
|----------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `validFrom`                      | [ISO 8601 date][external.ISO-8601-date] strings representing the date your user moved into the address.<br></br> <br></br>GOV.UK One Login only collects the year from the user. The month and day will always default to `01`. For example, if the user moved in 2024, the `validFrom` date would be `2024-01-01`.                                                         |
| `validUntil`                     | [ISO 8601 date][external.ISO-8601-date] strings representing the date your user moved from the address. This property is not included for your user’s current address.<br></br> <br></br>GOV.UK One Login only collects the year from the user. The month and day will always default to `01`. For example, if the user moved in 2024, the `validUntil` date would be `2024-01-01`.  <br></br> <br></br>  If a user tells us an address is their current address, then `validUntil` will be not be returned. |
| `uprn`                           | GOV.UK One Login will provide a [Unique Property Reference Number (UPRN)](https://www.gov.uk/government/publications/open-standards-for-government/identifying-property-and-street-information) for UK addresses only. <br></br> <br></br> If a user has edited their address, the UPRN field will automatically clear.                                                    |
| `organisationName`               | Maps to `ORGANISATION_NAME` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                  |
| `departmentName`                 | Maps to `DEPARTMENT_NAME` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                    |
| `subBuildingName`                | Maps to `SUB_BUILDING_NAME` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].<br><br>`subBuildingName` may accompany either `buildingName` or `buildingNumber`.                                                                                                |
| `buildingNumber`                 | Maps to `BUILDING_NUMBER` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                    |
| `buildingName`                   | Maps to `BUILDING_NAME` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                      |
| `dependentStreetName`            | Maps to `DEPENDENT_THOROUGHFARE_NAME` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                        |
| `streetName`                     | Maps to `THOROUGHFARE_NAME` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                  |
| `doubleDependentAddressLocality` | Maps to `DOUBLE_DEPENDENT_LOCALITY` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                          |
| `dependentAddressLocality`       | Maps to `DEPENDENT_LOCALITY` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                 |
| `addressLocality`                | Maps to `POST_TOWN` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                 |
| `addressRegion`                  | Maps to [schema:addressRegion](https://schema.org/addressRegion). Only returned for international addresses and will contain the region, provided as text. For example, California or another appropriate first-level Administrative division.                                                                                |
| `postalCode`                     | Maps to `POST_CODE` in the [Postcode Address File][external.postcode-file] and [Ordnance Survey Places API][external.os-places-api].                                                                                                                                                                                          |
| `addressCountry`                 | Two-letter [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).                                                                                                                                                                                                                               |


<%= warning_text('The attributes might be returned in any order.') %>

Do not assume address properties always map to the same line of an address. For example, <code>addressLocality</code>
may map to a different line of an address, depending on whether other properties are present (in this case, <code>
dependentAddressLocality</code> and <code>doubleDependentAddressLocality</code>).


A sample UK (`GB`) address returned would look similar to this: 

```
{
  uprn: "100021051133",
  organisationName: "Acme Corporation",
  departmentName: "Sales Department",
  subBuildingName: "Unit 3B",
  buildingNumber: "42",
  buildingName: "Riverside House",
  dependentStreetName: "Industrial Estate",
  streetName: "River Lane",
  doubleDependentAddressLocality: "Riverside",
  dependentAddressLocality: "Newtown",
  addressLocality: "Birmingham",
  postalCode: "B12 8QT",
  addressCountry: "GB"
  "validFrom": "2000-01-01",
}
```

A sample international address returned would look similar to this: 

```
{
  "subBuildingName": "1", 
  "buildingNumber": "27", 
  "buildingName": "The Big Building",
  "streetName": "Long Street",
  "addressLocality": "Los Angeles",
  "addressRegion": "California"
  "postalCode": "90012",
  "addressCountry": "US",
  "validFrom": "2000-01-01",
}
```

## Understand your user's passport claim
The <code>https://vocab.account.gov.uk/v1/passport</code> claim contains the details of your user’s passport, if they
submitted one when proving their identity.

| Property         | Definition                                                                                                                                                                                                                                                                                              |
|------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `documentNumber` | The passport number.                                                                                                                                                                                                                                                                                    |
| `icaoIssuerCode` | An identifier for the state or organisation that issued the passport. This is defined by the International Civil Aviation Organization (ICAO) standard [9303 Machine Readable Travel Documents](https://www.icao.int/publications/Documents/9303_p3_cons_en.pdf). The identifier is up to 3 characters. |
| `expiryDate`     | The expiration date as an [ISO 8601 date][external.ISO-8601-date] string.                                                                                                                                                                                                                               |


## Understand your user's driving licence claim
The <code>https://vocab.account.gov.uk/v1/drivingPermit</code> claim contains the details of your user’s driving
licence, if they submitted one when proving their identity.

| Property         | Definition                                                                                                                                                                                                                            |
|------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `expiryDate`     | The expiry date of the driving licence as an [ISO 8601 date][external.ISO-8601-date] string.                                                                                                                                          |
| `issueNumber`    | The last 2 characters of the driving licence number – these show how many times the user has received a new driving licence. You'll only receive this property for licences issued by the Driver and Vehicle Licensing Agency (DVLA). |
| `issuedBy`       | The organisation that issued the driving licence.                                                                                                                                                                                     |
| `personalNumber` | The driver number of the driving licence. This is a string unique to the user.                                                                                                                                                        |

## Understand your user’s return code claim

<%= warning_text('We recommend requesting the return code claim to make your error handling more clear. ') %>

To use the `returnCode` claim, you'll need to: 

1. Enable the `returnCode` claim when you register your service.
1. Include `https://vocab.account.gov.uk/v1/returnCode` when you [make a request for authentication and identity](https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#make-a-request-for-authentication-and-identity). 

The `https://vocab.account.gov.uk/v1/returnCode` claim gives information about any issues with the evidence your user provided to prove their identity. For example, if GOV.UK One Login was not able to prove your user’s identity. 

When you use this claim and there’s an issue with the evidence your user provided to prove their identity:

1. You’ll receive an authorisation code in the `redirect_uri` instead of an `access_denied` error.
1. Use this authorisation code to get an ID token and an access token.
1. When you make a request to the `/userinfo` endpoint using the access token, the response may contain only authentication data, and an array of one or more `returnCode` values, which will each be a letter.
1. For security reasons, you’ll need to contact GOV.UK One Login on [govuk-one-login@digital.cabinet-office.gov.uk](mailto:govuk-one-login@digital.cabinet-office.gov.uk) for more detailed information on what issue each `returnCode` value stands for.  

Currently, there are 9 `returnCode` values which GOV.UK One Login could return if there’s an issue with the evidence your user provided to prove their identity. You may receive a return code even if a user’s identity verification is successful, for example, if a user is a politically exposed person. Contact GOV.UK One Login on [govuk-one-login@digital.cabinet-office.gov.uk](mailto:govuk-one-login@digital.cabinet-office.gov.uk) for more detailed information on what each return code means.  

| Property         | Definition                                                                                                                                                                                                                            |
|------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `code`     | An array of single letter codes for `returnCode` values. <br><br> You can use these codes to identify the reason(s) for any issues that occurred during the identity proving journey. For security reasons, you’ll need to contact GOV.UK One Login on [govuk-one-login@digital.cabinet-office.gov.uk](mailto:govuk-one-login@digital.cabinet-office.gov.uk) for more detailed information on what each return code means.  
 
If you want to add this feature to an existing integration, contact GOV.UK One Login on [govuk-one-login@digital.cabinet-office.gov.uk](mailto:govuk-one-login@digital.cabinet-office.gov.uk) to update your client registration. You must also update your code to make sure your integration is able to use the new behaviour. 


```
HTTP/1.1 200 OK
Content-Type: application/json
{
  "sub": "urn:fdc:gov.uk:2022:56P4CMsGh_02YOlWpd8PAOI-2sVlB2nsNU7mcLZYhYw=",
  "email": "test@example.com",
  "email_verified": true,
  "phone_number": "+441406946277",
  "phone_number_verified": true,
  "https://vocab.account.gov.uk/v1/returnCode": [
    {
      "code": "B"
    },
    {
      "code": "C"
    }
  ]
}
```

Continue to [managing your users' sessions](https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/managing-your-users-sessions/#managing-your-users-39-sessions).

# Helping your users after their in-person identity checks

<%= warning_text("If you need identity verification, we strongly recommended that you create a landing page / <code>LandingPageUrl</code> to support your users after their in-person identity checks. This is also known as the face-to-face journey. There is further <a href="https://github.com/govuk-one-login/onboarding-examples/tree/main/tools/f2f-test">guidance on creating and testing a landing page</a>. If you do not provide a landing page, your user will not be returned to your service after they have completed their in-person identity checks. If your service is authentication-only, you do not need to do this.") %>

Sometimes, a user might access your service after their in-person identity checks, for example after using the Post Office.

1. In some scenarios, your user may have to prove their identity ‘face-to-face’, for example if they have a European driving licence.
1. Trained identity staff process the user’s documents and take their photo to compare the user’s claimed identity to their documentation. 
1. The identity staff do not tell the user the result of their identity check immediately. Instead, your user will receive an email with the subject **Sign in to view the result of your identity check**, which can take up to 24 hours to arrive.
1. The user selects the link in the email's body (this contains an identifier which links them to your service), signs in to GOV.UK One Login and is automatically redirected to your service's landing page. 

Your user has 16 days to complete their in-person identity check, starting from when they initiate the journey. The in-person journey is only complete when your user visits GOV.UK One Login after a success or failure of the in-person check. Your user can do this by using their unique email link or trying to access your service or another service connected to GOV.UK One Login. 

If the user does not complete the in-person identity check within 16 days, they will not be able to complete it at this time. The user will then have to repeat the identity check process.

Currently, the only way to cancel an in-person identity check is for the user to contact GOV.UK One Login directly.

## Understand what your landing page needs to do 

This landing page will:

* authenticate a user in your service 
* help your user to see the status of their recent identity check 
* continue your user's sign-up process for your service 

Before you start, you must have followed the recommendation to [split out authentication and identity requests](/integrate-with-integration-environment/authenticate-your-user/#make-a-request-for-authentication-and-identity). 

We recommend your user returns to the point where they left to do the in-person check rather than starting over again. You can do this if you stored the user's `sub` when the user initially authenticated with your service.

<%= image_tag "in-person-flow-diagram.drawio.svg", { :alt => '' } %>

1. Your user, having used their unique link from the **Sign in to view the result of your identity check** email, logged in to GOV.UK One Login and viewed their identity check status, has selected to return to your service, and lands on the `LandingPageUrl` that you gave when you [configured your service for production](/configure-for-production/). 
1. This is where the in-person journey differs from a normal GOV.UK One Login flow. Your service's landing page needs to store that this user is on an in-person return journey. How you do this will depend on how you [manage your users' sessions](/integrate-with-integration-environment/managing-your-users-sessions/#managing-your-users-39-sessions). Your user should only end up on this page if they have selected the email link from the in-person journey.
1. Your service makes an authentication request to the `/authorize` endpoint with the vector of trust (vtr) `Cl.Cm` (a medium level of authentication). There’s further [guidance on making an authentication request](/integrate-with-integration-environment/authenticate-your-user/#make-a-request-for-authentication). 
1. Your user automatically reuses their existing GOV.UK One Login session because they have already logged in from the email link. The user will not need to re-enter their username and password. 
1. GOV.UK One Login redirects your user to your `redirect_uri`.
1. Your service makes a [token request](https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#make-a-token-request) to the `/token` endpoint.
1. Your service receives an [ID token and access token](https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#receive-response-for-make-a-token-request) in the response.
1. Your service makes a request to the `/userinfo` endpoint to retrieve user information.
1. Your service receives a response containing the user attributes `sub`, `email` and `phone`.
1. Your service confirms that your user is on an in-person return journey (you'll have stored that this user is on an in-person return journey in step 2). 
1. This is where the in-person journey differs from a normal GOV.UK One Login flow. Your service shows the user the 'in-person check return screen' which prompts the user to continue their journey for retrieving the result of their identity check. This will be the first page your service shows the user. 
1. Your service makes a request for both authentication and identity to the `/authorize` endpoint with the vector of trust `Cl.Cm.P2` (medium authentication and medium level of identity confidence). There’s further [guidance on making an authentication and identity request](/integrate-with-integration-environment/authenticate-your-user/#make-a-request-for-authentication-and-identity). 
1. Your user checks the identity details GOV.UK One Login has stored for them and confirms they are correct.
1. GOV.UK One Login redirects your user to your `redirect_uri`.
Your service makes a [token request](https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#make-a-token-request) to the `/token` endpoint.
1. Your service receives an [ID token and access token](https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#receive-response-for-make-a-token-request) in the response.
1. Your service makes a request to the `/userinfo` endpoint to retrieve user information.
1. Your service receives a response containing user attributes (`sub`, `email`, `phone` and whichever claims your service requested, for example `coreIdentityJWT`) and the results of the identity check.
1. Your service returns your user to where they started their original identity check. 


## Test your `LandingPageUrl` 

You cannot directly test the in-person ‘face-to-face’ journey. This is because your user will access your service’s `LandingPageUrl` from their unique link in the **Sign in to view the result of your identity check** email.

However, you can [use the f2f-test tool to test a simulated return from the face-to-face journey](https://github.com/govuk-one-login/onboarding-examples/blob/main/tools/f2f-test/README.md).  


<%= partial "partials/links" %>
